.link {
  text-decoration: none;
  color: cadetblue;
  margin: 10px;
}

.link:hover {
  color: red;
}

.active {
  text-decoration: none;
  margin: 10px;
  color: green;
}

.block {
  width: 21px;
  height: 21px;
  margin: 10px;
  background: #a4bfaf;
}

.header {
  display: flex;
  width: 240px;
  transition-duration: 500ms;
  transform: translate(-200px);
}

.header:hover {
  transition-duration: 500ms;
  transform: translate(0);
}